
body {
    background-color: lightyellow;
}

h1 {
    font-style: italic;
}

p {
    color: maroon;
}

a {
    color: black;
    font-variant: small-caps;
    font-size: 1.5em;
}

table {
    border-collapse:collapse;
}

table, th, td {
    border: 1px solid black;
}

th {
    background-color:green;
    color:yellow;
}

td {
    text-align: center;
}

td.esquerda {
    text-align: left;
}

ul.erro {
    color: red;
}

ul {
    /*POR PADRÃO A TAG UL VEM COM MARGIN E PADDING, E AQUI RETIRAMOS ESSA MARGEM E DEFINIMOS TAMBÉM O TAMANHO E TIPO DA FONTE*/
    margin: 0px;
    padding: 0px;
    font-size: 9pt;
    font-family: Verdana, Geneva, sans-serif;
}

ul li {
    /*FLOAT LEFT SERVE PARA CADA LINK FICAR UM DO LADO DO OUTRO*/
    float: left;
    margin-right: 10px;
    list-style: none;
}

ul li a {
    /*COLOCAMOS DISPLAY BLOCK PARA A TAG “A” VIRAR UM BLOCO. O PADDING SERVE COMO UMA MARGEM INTERNA ENTRE O BLOCO E O LINK*/
    display: block;
    padding: 10px;
    color: #666;
    text-decoration: none;
    background-color: #E6E6E6;
}

/*A PSEUDO-CLASSE “HOVER” DÁ AS CARACTERÍSTICAS DO LINK QUANDO O USUÁRIO ESTIVER COM O MOUSE SOBRE ELE */
ul li a:hover {
    color: #E6E6E6;
    background-color: #666;
}
.country{
    width:150px;
}
